


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}



.homepage{

}


h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-top:25vh;
    margin-left: 10vw;
    float: left;
    clear: left;
    width: 400px;

}


.hello{
        font-weight: 500;
        font-size: 40px;
    }

h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
    width: 35vw;
    margin-left: 15vw;
    float: left;
    clear: left;
    margin-top: 0px;
}

.menu{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    left:0;
    margin-left: 60vw;
}



.menu a:hover{
    color:white;
    background-color:rgb(40,40,40);
}


.teste{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    display: table;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
    background-color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.2);
}

.divider{
    width: 100%;
    background-color: black;
    height: 150px;
    position:absolute;
    left: 0;
    top: 100vh;
    min-width: 1000px;
}

.project{
    left: 0;
    width: 100vw;
 /*   background-color: red; */
    height: 80vh;
   position:absolute;
  /*  border-bottom: 200px solid black;*/
}

.project:after {
  position: absolute;
  content: '';
  border-bottom: 200px solid rgb(245,245,245);
  width: 100%;
  bottom: -150px;
  left: 0%;
    z-index: -1;
    min-width: 1000px;
}
.imgProjectLeft{
    width: 55vw;
    height: 450px;
    border-radius: 50px;
    margin-left: -100px;
    float: left;
    margin-top: 200px;
    min-height: 400px;
    min-width: 650px;
    margin-right: 100px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
    background-color: white;
   
}

#egoiTOP{
    background-image: url(../UiDesign/img/egoi/egoiP.png);
    background-size: 80% 90%;
}


.projectInfo{
 /*background-color: blue; */
 /*   float: left;
    left: 0;
    margin-left: 0vw;
    margin-top: 50px;
    width:35vw;
    min-width: 350px; */
   margin-top: 100px;
    margin-left: 500px;
    margin-right: 10vh;
    min-width: 450px;
}

h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 10px;
    line-height: 40px;
}

h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.textProject{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.projectCategory{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    position: absolute;
    margin-top: 25px;
    min-width: 105px;
}


.projectCategory:hover{
    background-color: black;
    color:white;
}
#content1{
    top:120vh;
}

#content2{
    top:220vh;
}
#graphic{
    min-width: 175px;
}

#content3{
    top:320vh;
}

#content4{
    top:420vh;
}

.cv{
    font-size: 200px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    top: 455vh;
    text-transform: uppercase;
    padding: 40px 70px;
    font-size: 90px;
    letter-spacing: 5px;
    font-weight: 500;
    color:black;
    text-decoration: none;
    border: 5px solid black;
    border-radius: 100px;
}

.cv:hover{
    background-color:black;
    color:white;
}


.footer{
    width: 100%;
    height: 440px;
    background-color: black;
    position: absolute;
    top:520vh;
    left:0;
}

.icons{
    position: absolute;
    margin-top:50px;
    margin-bottom:50px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.icon{
    width: 50px;
    margin: 0 10px;
}

.name{
    color:white;
    display: block;
    text-align: center;
    margin-top:140px;
    font-size: 20px;
    font-weight: 100;
}

.city{
    color:white;
    display: block;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}
















/* ———————    IPHONE VERTICAL VERSION    —————— ——*/
@media only screen and (max-width: 800px){
    
    
    body{
        overflow-x: hidden;
        width: 98vw;
    }
    
    html{
         overflow-x: hidden;
        left:0;
        right:0;
        margin: 0;
        padding: 0;
    }
    
    .hello{
        font-weight: 400;
        font-size: 40px;
    }
    
    
    h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10vw;
        width: 400px;
        font-weight: 300;
margin-bottom: 10px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
    width: 310px;
    margin-left: 15vw;
    margin-top: 0px;
    line-height: 24px;
}

 
.menu{
    transform: translateY(0%);
    margin-top: 10px;
    transform: translateX(-30%);
    position: inherit;
}

    .homepage{
        width: 100%;
    }

.menu a:hover{
    color:white;
    background-color:rgb(40,40,40);
}


.teste{
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    padding: 15px 10px;
    font-size: 15px;
    margin-bottom: 10px;
/*    float: right;*/
    display: block;
width: 300px;
    margin-right: 100px;
    float: none;
 text-align: center;
/*    margin-left:-50px;*/
    
}

.divider{

    background-color: black;
    height: 150px;
    position:absolute;
    display: block;
    left: 0;
    top: 100vh;
    width: 100%;
    overflow-x: hidden;
    min-width: 100px;
}

.project{
    left: 0;

 /*   background-color: red; */
    height: 10px;
   position:absolute;
  /*  border-bottom: 200px solid black;*/

}

.project:after {
display: none;
}
.imgProjectLeft{
display: none;
   
}

#egoiTOP{
    background-image: url(../UiDesign/img/egoi/egoiP.png);
    background-size: 80% 90%;
}


.projectInfo{
   margin-top: 100px;
    margin-left: 00px;
    margin-right: 10vh;
    min-width: 250px;
}

h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 0px;
    line-height: 40px;
    margin-left:50px;
    width: 100%;
}

h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
        margin-left:50px;
}

.textProject{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    width: 250px;
    margin-left:100px;
}

.projectCategory{
    margin-top: 10px;
    right: 50px;
    box-shadow: 0px 4px 10px rgb(50 50 50 / 20%);
    border: none;
    padding: 15px 25px;
    border-radius: 40px;
}



#content1{
    top:120vh;
}

#content2{
   margin-top:-50vh;
}
#graphic{
    min-width: 175px;
}

#content3{
    top:220vh;
    margin-top:-5vh;
}

#content4{
    top:420vh;
}

.cv{
    font-size: 10px;
    top:300vh;
    padding: 20px 30px;
    font-size: 20px;
}

   
    

    


.footer{
/*
    width: 100%;
    height: 440px;
    background-color: black;
    position: absolute;
    top:520vh;
    left:0;
*/
    top: 360vh;
}

.icons{
/*
    position: absolute;
    margin-top:50px;
    margin-bottom:50px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
*/
    width: 100%;
    text-align: center;
}

.icon{
    width: 50px;
    margin: 0 10px;
}

.name{
    color:white;
    display: block;
    text-align: center;
    margin-top:140px;
    font-size: 20px;
    font-weight: 100;
}

.city{
    color:white;
    display: block;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}
    
    
}




/* IPAD PRO Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      
      
      
      h1{
   font-size: 35px;
    margin-top: 20vh;
    margin-left: 5vw;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    width: 41vw;
    margin-left: 10vw;
    margin-top: 20px;
}

.menu{
    top: 60%;
}



.menu a:hover{
    color:white;
    background-color:rgb(40,40,40);
}


.teste{
    font-size: 30px;
    padding: 20px 40px;
    margin-bottom: 40px;  
}

.divider{
    width: 100%;
    background-color: black;
    height: 150px;
    position:absolute;
    left: 0;
    top: 100vh;
    min-width: 1000px;
}

.project{
    left: 0;
    width: 100vw;
 /*   background-color: red; */
    height: 80vh;
   position:absolute;
  /*  border-bottom: 200px solid black;*/
}

.project:after {
 
}
.imgProjectLeft{
   margin-right: 60px;
   
}

#egoiTOP{
    background-image: url(../UiDesign/img/egoi/egoiP.png);
    background-size: 80% 90%;
}


.projectInfo{
 /*background-color: blue; */
 /*   float: left;
    left: 0;
    margin-left: 0vw;
    margin-top: 50px;
    width:35vw;
    min-width: 350px; */
   margin-top: 100px;
    margin-left: 500px;
    margin-right: 10vh;
    min-width: 450px;
}

h3{
    width:510px;
}

h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.textProject {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 200;
    line-height: 35px;
    hyphens: auto;
}

.projectCategory{
}


.projectCategory:hover{
    background-color: black;
    color:white;
}
#content1{
    top:120vh;
}

#content2{
    top:220vh;
}
#graphic{
    min-width: 175px;
}

#content3{
    top:320vh;
}

#content4{
    top:420vh;
}

.cv{
    font-size: 200px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    top: 455vh;
    text-transform: uppercase;
    padding: 40px 70px;
    font-size: 90px;
    letter-spacing: 5px;
    font-weight: 500;
    color:black;
    text-decoration: none;
    border: 5px solid black;
    border-radius: 100px;
}

.icons {
    text-align: center;
    width: 100%;
}
      
.icon{
    width: 100px;
    margin: 0 20px;
}
      
      
.name{
    margin-top: 210px;
    font-size: 30px;
}

.city {
    line-height: 40px;
    font-size: 20px;
}     
}






/*—————————————— iMAC —————————————-*/

@media only screen and (min-width: 2000px){
   
    .teste{
        font-size:22px;
        margin-bottom: 30px;
    }
    
    h1{
        margin-left: 20vw;
    }
    
    h2{
        width: 30vw;
    margin-left: 25vw;
        font-size:37px;
    }
    
    .imgProjectLeft {
        display: none
    }
    .project:after {
        display: none
    }
    
    .project{
        display:none;
    }
    
    .cv{
        display:none;
    }
    
    .divider{
        display:none;
    }
    
    .footer{
        top: 100vh;
    }
    
}
