@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menuIcon {
   display: none
}

body{
    font-family: 'Work Sans', sans-serif;
}

.home{
    color:black;
    position: fixed;
    z-index: 1;
}

.menu{
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
}
.menu a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    margin:0 auto;
    margin: 0 2vw;
    line-height: 50px;
    font-weight: 400;   
}



#picked{
    font-weight: 700;
}

.title{
    
    width: 100vw;
    height:100vh;
    display: table;
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
/*    transition: 0.1s ease;*/
}

.titleAnim{
    animation: titleAnim 1s forwards;
}

@keyframes titleAnim{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
        transform: translateY(-20px);
    }
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 100px;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.projects{
   position: absolute;
    display: block;
    margin: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    margin-top:100vh;
    margin-left:0vw;
    
}


#project{
    width: 800px;
    height:400px;
    background-color: black;
    margin-bottom: 80px;
    z-index: -1;
    border-radius: 50px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    background-size: 800px;
    margin-left:00px;
    opacity:0;
}


.projectAnimationSlideInL{
    animation: projectAnimationSlideInL 2s forwards;
}

@keyframes projectAnimationSlideInL{
    0%{
        margin-left:-200px;
        opacity: 0;
    }
    100%{
        margin-left:0px;
        opacity:1;
    }
}






.e-goi{
    background-image: url('../img/UiDesign/egoiBackground.jpeg');
      
}

.ggwp{
    background-image: url('../img/UiDesign/ggwpBackground.jpeg');
}

.medove{
    background-image: url('../img/UiDesign/medoveBackground.jpeg');
}

.mudd{
    background-image: url('../img/UiDesign/muddBackground.jpg');
}

.labVideo{
    background-image: url('../img/UiDesign/LabBackground.jpeg');
}

.port{
    background-image: url('../img/UiDesign/portBackground.jpg');
}

#projectName{
    position: absolute;
    margin-top:50px;
}
h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:white;
    margin-left:50px;
    margin-bottom: -10px;
}

.projectText{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size:16px;
    line-height: 24px;
    color:white;
    margin-left: 50px;
    width: 350px;
    margin-top:100px;
    position: absolute;
}

.tags{
     position: absolute;
    margin-top: 300px;
}

li{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding: 8px 14px;
    font-size:12px;
    text-transform: uppercase;
    background-color: white;
    display: inline-block;
     color:black;
    list-style: none;
}





.backArrow{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom:60px;
    left:40px;
      background: url(../img/backArrow.svg)no-repeat;
}

.backArrow:hover{
    background-image: url(../img/backArrowHover.svg);
}


.footer{
    width: 100%;
    height: 440px;
    background-color: black;
    position: absolute;
    top:500vh;
    left:0;
}

.icons{
    position: absolute;
    margin-top:50px;
    margin-bottom:50px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.icon{
    width: 50px;
    margin: 0 10px;
}

.name{
    color:white;
    display: block;
    text-align: center;
    margin-top:140px;
    font-size: 20px;
    font-weight: 100;
}

.city{
    color:white;
    display: block;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}


.menu a:hover{
    animation: variable 200ms forwards;
}

@keyframes variable {
    0%{
      font-weight: 400;
    }
    100%{
    font-weight: 600;
    }
}
















/* ———————    IPHONE VERTICAL VERSION    —————— ——*/
@media only screen and (max-width: 800px){
    
    .menuIcon {
    display: block;
    width: 40px;
    position: absolute;
    top: 45px;
    right: 25px;
}
    
   .mobileMenu{
       opacity: 0;
       display: block;
        width: 100%;
        height:100%;
        position: fixed;
        background:white;
        top:0;
        left:0;
        z-index: 2;
        transform: translateY(-100%);
        transition: 1200ms;
    }
    
    .mobileMenuSlideAnimationIn{
        transform: translateY(0%);
    }
    
    .mobileMenuSlideAnimationOut{
        transform: translateY(-100%);
    }
    
    .mobileMenuSlide{
        text-align: center;
        padding-inline-start: 0px;
        margin-top: 80px;
    }
    
    .mobileMenuOption {
    display: block;
    left: 0;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    padding: 15px 0;
        font-weight: 300;
}
    li a{
        text-decoration: none;
        color:black;
}
    
    
    
    .menu{
        display: none;
    }
    
    h1{
        font-size:25px;
        margin-top:50px;
        margin-bottom: 50px;
            display:block;
   
    }
    
    .projects{
    margin: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    margin-top:10vh;
    margin-left:0vw;
    
}


#project{
    width: 90vw;
    height:400px;
    margin-bottom: 20px;
    background-size: 800px;  
}


.projectAnimationSlideInL{
    animation: projectAnimationSlideInL 2s forwards;
}

@keyframes projectAnimationSlideInL{
    0%{
        margin-left:-200px;
        opacity: 0;
    }
    100%{
        margin-left:0px;
        opacity:1;
    }
}


#projectName{
    position: absolute;
    margin-top:50px;
}


.projectText{
    font-size:14px;
    line-height: 24px;
    width: 80%;
    word-break:normal;
    hyphens: auto;
    width: calc(100% - 100px);
}

.tags{
     position: absolute;
    width: calc(100% - 60px);
}
    
    #oneLineTag{
margin-top:330px;}

    #twoLineTag{
margin-top:290px;}
    
    #threeLinesMedia{
        margin-top:270px;
    }
    
    
li{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding: 8px 14px;
    font-size:10px;
    text-transform: uppercase;
    background-color: white;
    display: inline-block;
     color:black;
    list-style: none;
    
        border-radius: 5px;
    margin-bottom: 5px;
}





.backArrow{
    width: 20px;
    height: 20px;
    position:relative;
    top:45px;
    left:40px;
    background: url(../img/backArrow.svg)no-repeat;
}

.backArrow:hover{
    background-image: url(../img/backArrowHover.svg);
}


.footer{
    height: 340px;
    top:380vh;
}

.icons{
    width: 70%;
    text-align: center;
}

.icon{
    width: 40px;

}

.name{
    margin-top:120px;
    font-size: 16px;
}

.city{
    font-size: 12px;
}    
    
    
}






@media only screen and (max-width: 400px){
    .footer {
    top: 340vh;
}
}




@media only screen and (min-width: 550px) and (max-width: 800px){

    
    .projectText{
        width: calc(70% - 100px);
    }
}





/* IPAD PRO Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      
    .footer{
    top:330vh;
}
      
.icons {
    text-align: center;
    width: 100%;
}
      
.icon{
    width: 100px;
    margin: 0 20px;
}
      
      
.name{
    margin-top: 210px;
    font-size: 30px;
}

.city {
    line-height: 40px;
    font-size: 20px;
}
      
}






/*—————————————— iMAC —————————————-*/

@media only screen and (min-width: 2000px){
    h1{
        font-size: 130px;
    }
    
    .menu a {
    font-size: 22px;
    margin: 0 3vw;
    line-height: 70px;
}
    
    #project {
    width: 1200px;
    height: 600px;
}
    
    h2{
    font-size: 60px;
    margin-left: 100px;
    }
    
    .projectName {
    margin-top: 80px;
}
    .projectText {
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    margin-left: 100px;
    width: 600px;
    margin-top: 170px;
}
    
    li{
        font-size: 22px;
    }
    
    .tags {
    margin-top: 500px;
    margin-left: 60px;
}
    
}

