@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face {
    font-family: 'Lovelo-LineLight';
    src: url('../../fonts/Lovelo/Lovelo-LineLight.woff') format('woff');
}

@font-face {
    font-family: 'Lovelo-LineBold';
    src: url('../../fonts/Lovelo/Lovelo-LineBold.woff') format('woff');
}

@font-face {
    font-family: 'Lovelo-Black';
    src: url('../../fonts/Lovelo/Lovelo-Black.woff') format('woff');
}

.menuIcon, .mobileMenu{
   display: none
}

body{
    font-family: Work Sans;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}


.home{
    color:black;
    position: fixed;
    z-index: 1;
}

.menu{
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}
.menu a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    margin:0 auto;
    margin: 0 2vw;
    line-height: 50px;
    font-weight: 400;   
}



#picked{
    font-weight: 700;
}

.projectTitle{
    font-size: 70px;
    font-weight: 700;
    width: 390px;
    position: block;
    left: 0;
    margin-left: -4vh;
    margin-top: 120px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    color: #1B2E49;
}

.projectDescript{
    margin-left:10%;
    display: inline-block;
    width: 90%;
}

.fichaTecnica{
    font-size: 25px;
    line-height: 35px;
    font-weight: 100;
    clear: both;
    display: inline-block;
    width: 50%;
}

.keyWords{
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 100;
    display: block;   
}


.pDisplay{
 float:left;
    
    
}

.pDisplay {
    float: right;
    right: 7%;
    margin-top: -300px;
   width: calc(40% - 100px);
    position: relative;
    z-index: -1;
    margin-right: 100px;
    margin-bottom: 150px;
}


.chapter{
    color:black;
    font-size:50px;
    font-weight: 300;
    letter-spacing: -2px;
    color:rgb(80,80,80);
    text-align: center;
    margin: auto;
    display: block;
    opacity:1;
    margin-bottom: 50px;
}

#conceptChapter{
    margin-top: 300px;
}
#appChapter{
    margin-top: 300px;
    margin-bottom: 50px;
}


.logoConcept{
    width:900px;
/*    background-color: red;*/
    margin:auto;
    margin-top: 00px;
      text-align: center;
}


.logoConceptTop{
 
/*    background-color: skyblue;*/
    
}
.logoTrial{
    width: 200px;
    border-radius: 50px;
   margin: 50px 20px;
    box-shadow: 0px 5px 20px rgba(50,50,50, 0.1);
    
}

.logoTrial2{
    width: 300px;
    border-radius: 50px;
    background-size: 100% 100%;
    margin: 0px auto;
     box-shadow: 0px 5px 20px rgba(50,50,50, 0.1);
}

.gridAnimContainer{
    width: 300px;
    margin: 150px auto;
}

.anim{
 width: 100%;   
    border-radius: 30px;
box-shadow: 0px 5px 35px rgba(50,50,50, 0.2);
    transition:450ms;
}

.anim:hover{
    width: 110%;
    margin-top:-18px;
    margin-left:-18px;
}


.testeteste{
    width: 100%;
margin: auto;}



.margins{
    margin: auto;
    width: 750px;
}

#letterSpacing{
    width: 100%;
    margin-bottom: 50px;
}


.marginsContainer{
/*    background-color: red;*/
    height: 350px;
    text-align: center;
}

#symbolMargin{
    height: 100%;
    margin-right: 40px;

}

#logoMargin{
   height: 100%;
   margin-left: 40px;
}

#lengthMargin{
    width: 100%;
    margin-top: 80px;
}

.scroll{
    width: 80%;
    height: 650px;
    margin: 0 auto 150px auto;
/*    background-color: red;*/
    box-shadow: 0px 0px 20px rgba(70,70,70,0.5);
    border-radius: 70px;
    overflow: hidden;
}


.grad{
    position: relative;
    bottom:655px;
    width: 20vw;
    height:655px;
    background: linear-gradient(90deg, rgba(110,120,140,0.4)  -10%,  rgba(255,255,255,0) 100%);
    pointer-events: none;
    margin-left: -40px;
}





.gradU{
    position: relative;
    bottom:1310px;
    float: right;
    width: 20vw;
   
    margin-right: -40px;
    height:655px;
    background: linear-gradient(-90deg, rgba(110,120,140,0.4)  -10%,  rgba(255,255,255,0) 100%);
    pointer-events: none;
    
}




ul.imagesScroll {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
    padding: 50px 0;
  overflow-x: auto;
/*  background-color: red;*/
}


ul.imagesScroll li {
  display: inline;
  width: 150px;
  height: 450px;
    vertical-align: middle;
    margin: 50px;
}

#A3{
    height: 550px;
    margin-left: 300px;
    
}

#A4{
    height: 450px;
}

#flyer{
    height:450px;
}

#envelope{
    width: 450px;
       margin-right: 300px;
}




.colorContainer{
 
    height: 350px;
/*    background-color: red;*/
    text-align: center;
    margin: auto;
    
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(100,100,100, 0.15)
}

#mainTonesContainer{
    width: 620px;
    height: 350px;
/*    background-color: red;*/
    transition: 600ms;
/*    padding-top:100px;*/
}


#mainTones{
     transition: 600ms;
/*    margin-top: -50px;*/
    margin-bottom: 00px;
       padding-top:50px;
}

.text{
    font-size: 60px;
    font-weight: 100;
    padding-top:70px;
    padding-bottom: 20px;
    display: block;
    
}

.swatches{
    width: 100%;
    height:40%;
    
/*    background-color: blue;*/
}

.swatchC{
    width: 125px;
    height: 125px;
    display: inline-block;
     border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(240,240,240, 0.18);
        margin:10px;
    transition: 600ms;
    margin-top:30px;
}

.colorHex{
    font-size: 60px;
    font-weight: 100;
color:white;
position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    margin-top: -230px;
    opacity:0;
    transition: 150ms;
}

#white{
    background-image: url(../img/Erasmus/mainToneWhite.png);
    background-size: 100%100%;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.18);   
}
#yellow{ background-image: url(../img/Erasmus/mainToneYellow.png);background-size: 100%100%;}
#blue{ background-image: url(../img/Erasmus/mainToneBlue.png);background-size: 100%100%;}

.bwLOGO{
    width: 500px;
    margin:auto;
    padding: 80px;
    
}

.logoBW{
    width: 100%;
      border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(220,220,220,1);
}

#typeChapter{
    margin-top: 150px;
}



.intro{
    height: 550px;
    width: 850px;
    margin: auto;
    border-radius: 50px;
    margin-bottom:150px;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.2);
    z-index: -1;
}

#introDIN{
    height: 750px;
}

.GT{
    background-color: white;
    width: 250px;
    height:250px;
    margin: 50px;
    float: left;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.2);
       text-align: center;
}

.gt{
    font-family: Lovelo-Black;
    font-size: 140px;
    line-height: 250px;
    margin: 0 auto;
    color: #1B2E49;
}


.typeWrite{
position: absolute;
    margin-left:350px;
   margin-top: 152px;
}

.typingLOVELO{
    position: relative;
    font-family: Lovelo-Black;
    font-size: 55px;
    z-index: -1;
}



.typingLOVELO:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 4px solid black;
    right: -15px;
    animation: blink 0.8s infinite ease;
}

@keyframes blink{
    0%{
        opacity:0;
    }
    10%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    90%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}

.fontsContainer{
    width: 850px;
/*    background-color: blue;*/
    position: absolute;
    margin-top: 350px;
    z-index: -1;
}

.fontBox{
    width: 25%;
    border-radius: 30px;
    margin-left:50px;
    float: left;
    margin-bottom: 50px;
    text-align: center;
}

.abc{
    display: block;
    -ms-word-break: break-all;
     word-break: break-all;
/*    letter-spacing: 01px;*/
    line-height: 35px;
    margin-top:10px;
    margin-bottom: 10px;
    color: rgb(00,00,00);
    text-align: justify;
    font-size: 30px;
    letter-spacing: 1px;
}




#LightFontTitle{
 font-family: Lovelo-LineLight;
    font-size: 25px;
    display: inline-block;
}
#LightABC{
     font-family: Lovelo-LineLight;
     
}

#BoldFontTitle{
 font-family: Lovelo-LineBold;
    font-size: 25px;
    display: inline-block;
}
#BoldABC{
     font-family: Lovelo-LineBold;
     
   
}

#BlackFontTitle{
 font-family: Lovelo-Black;
    font-size: 25px;
    display: inline-block;
}
#BlackABC{
     font-family: Lovelo-Black;
   
}


.row {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 50%;
    margin:20px;
    margin-top:0;
    
}

.column img {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(70,70,70,0.5);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
.column {
    flex: 100%;
    max-width: 100%;
  }
}



.backArrow{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom:60px;
    left:40px;
    background: url(../../img/backArrow.svg)no-repeat;
}

.backArrow:hover{
    background-image: url(../../img/backArrowHover.svg);
}



.footer{
    width: 100%;
    height: 440px;
    background-color: black;
    position: absolute;
    margin-top:10vh;
    left:0;
}

.icons{
    position: absolute;
    margin-top:50px;
    margin-bottom:50px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.icon{
    width: 50px;
    margin: 0 10px;
}

.name{
    color:white;
    display: block;
    text-align: center;
    margin-top:140px;
    font-size: 20px;
    font-weight: 100;
}

.city{
    color:white;
    display: block;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}

.menu a:hover{ animation: variable 200ms forwards;}




@keyframes variable {
    0%{
      font-weight: 400;
    }
    100%{
    font-weight: 600;
    }
}





/* IPHONE*/
@media only screen and (max-width: 500px) {
    .menuIcon {
    display: block;
    width: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
}
    
   .mobileMenu{
       opacity: 0;
       display:block;
        width: 100%;
        height:100%;
        position: fixed;
        background:white;
        top:0;
        left:0;
        z-index: 2;
        transform: translateY(-100%);
        transition: 1200ms;
    }
    
    .mobileMenuSlideAnimationIn{
        transform: translateY(0%);
    }
    
    .mobileMenuSlideAnimationOut{
        transform: translateY(-100%);
    }
    
    .mobileMenuSlide{
        text-align: center;
        padding-inline-start: 0px;
        margin-top: 80px;
    }
    
    .mobileMenuOption {
    display: block;
    left: 0;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    padding: 15px 0;
    font-weight: 300;
    text-transform: uppercase;
}
    li a{
        text-decoration: none;
        color:black;
}
    
    body{
        margin:0;
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }
    
    
    .menu{
  display: none;
}


.projectTitle {
    font-size: 30px;
    font-weight: 700;
    width: 42vw;
    margin-top: 20px;
    margin-left: -20px;
    padding-right: 0px;
}

.projectDescript{
    margin-left:5%;
}

.fichaTecnica{
    font-size: 20px;
    line-height: 28px;
    width: 100%;
}
    


.keyWords{
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
    display: block;
    margin-top:20px;
    margin-bottom: 70px;
}
    
   .pDisplay {
    float: none;
     left: initial; 
     right: initial; 
    width: 270px;
    margin: auto;
    /* top: 0; */
    /* right: 0; */
    display: block;
    margin-top: 40px;
}
    
    .chapter{
    font-size: 30px;
    margin-top: 250px;
    margin-bottom: 20px;
    }
    
    .logoConcept{
        width: 90%;
    }
    
    
    .logoTrial2 {
    width: 100%;   
    border-radius: 20px;
    }
    
    .logoTrial {
    width: 108px;
    border-radius: 20px;
    margin: 10px 0px;
}
    
    .margins {
    width: 90%;
}
    
    #symbolMargin {
    width: 250px;
        margin:initial;
        margin-bottom: 20px;
        height: initial;
    }
    
    #logoMargin {
    width: 250px;
    margin: initial;
    height: initial;
}

    #lengthMargin {
    width: 100%;
    margin-top: 235px;
}
    
    .scroll {
    width: 90%;
    height: 550px;
    border-radius: 30px;
}
    
    .ulImagesScroll{
        padding: 30px 0;
    }
    
    #A3 {
    height: 450px;
    margin-left: -20px;
}
    
    #envelope {
    margin-right: 0px;
}
    
    
     #mainTonesContainer {
    width: 90%;
    height: 220px;
}
    
    #mainTones {
    font-size: 40px;
    padding-top: 30px;

}
    
    .swatchC, .swatch, .swatchD  {
    width: 85px;
    height: 85px;
    margin: 5px;
}
    
    #colorTonesContainer, #coolTonesContainer {
    width: 90%;
    height: 310px;
    border-radius: 30px;
    margin-top: 20px;
    }
    
    .bwLOGO {
    width: 90%;
    margin: auto;
     padding: 0px; 
    margin-top: 50px;
}
    .logoBW{
    border-radius: 40px;
    }
    
    
    
    
    
     .intro{
    width: 90%;
    border-radius: 40px;
    height: 560px;
    }
    
    .GT{
    width: 240px;
    height: 240px;
    }
    
    .gt{
        font-size: 120px;
    }
    
    .typeWrite {
    margin-left: 65px;
    margin-top: 320px;

}
    
    #typeWriteDois {
    width: 90%;
}
    
    .typing{
    font-size: 32px;
    margin-left:50px;
}
    .typingDIN{
    font-size: 22px;
    margin-left: 30px;
    }
    
    .fontsContainer{
        width: 90%;
        margin-top: 380px;
    }
    
    .fontBox {
    width: 100%;
    display: block;
    border-radius: 30px;
    margin: 20px auto;
    float: none;
    margin-bottom: 20px;
    text-align: center;
}
    
    
    #appChapter {
    margin-top: 200px;
    margin-bottom: 10px;
}
    
    
    
    .column img {
    margin-bottom: 0px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(70 70 70 / 40%);
}

    
    .footer{
    height: 340px;
    top:970vh;
}

.icons{
    width: 70%;
    text-align: center;
}

.icon{
    width: 40px;

}

.name{
    margin-top:120px;
    font-size: 16px;
}

.city{
    font-size: 12px;
}        
}


/* IPHONE X*/
@media only screen and (min-width: 400px) and (max-width: 450px) {
    
    .keyWords{
        margin-bottom: 40px;
    }
    
    #conceptChapter {
    margin-top: 150px;
}
    
    .logoTrial {
    width: 110px;
    margin: 10px 5px;
}
    
    #A3{
        margin-left: 15px;
    }
    
    .footer{
        top: 1050vh;
    }   
}




/* IPAD PRO Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

.pDisplay {
    float: none;
    right: -23%;
    margin-top: 110px;
    width: 500px;
    position: relative;
    z-index: -1;
    /* margin-right: 100px; */
    margin-bottom: 0px;
    display: block;
    /* position: absolute; */
    /* margin: auto; */
    margin-left: 100px;
}
      #A3 {
    margin-left: 30px;
}
      
      .icons {
    text-align: center;
    width: 100%;
}
      
.icon{
    width: 100px;
    margin: 0 20px;
}
      
.name{
    margin-top: 210px;
    font-size: 30px;
}

.city {
    line-height: 40px;
    font-size: 20px;
}   
      
}




/*—————————————— iMAC —————————————-*/

@media only screen and (min-width: 2000px){

    .projectTitle{
        font-size: 100px;
        width: 600px;
    }
    
    .menu{
        z-index: 1;
    }
    
    .menu a {
    font-size: 22px;
    margin: 0 3vw;
    line-height: 70px;
        
}
    
    .pDisplay{
        right: 12%;
        margin-top: -250px;
    }
    
    .logoConcept{
        transform: scale(1.5) translateY(100px);
    }
    
    .gridAnimContainer {
        width: 500px;
    }
    
    .anim{
        margin-top: 170px;
    }
 
    #conceptChapter {
    margin-top: 300px;
    font-size: 60px;
}
    .chapter{
         font-size: 60px;
    }
    
    
    .margins {
    width: 1200px;
}
    
    .marginsContainer {
    height: 590px;
    }
    
.scroll {
    width: 50%;
    height: 1000px;
    }
    
    #A3 {
    height: 900px;
    margin-left: 200px;
}
    
    #A4 {
    height: 680px;
}
    
    #envelope {
    margin-right: 200px;
}
    
    .grad {
    bottom: 1010px;
    height: 1010px;
    }
    .gradU {
    bottom: 2020px;
    height: 1020px;
    }
    
    
     .colorContainer{
    transform: scale(1.5);
    margin-top: 150px;
    z-index: -1;
    margin-top:300px;
    margin-bottom: 150px;
    }
    
    
    .bwLOGO {
    width: 650px;
    }
    
   .anim:hover{
    width: 100%;
    margin-top:170px;
    margin-left:initial;
}
    
    
}