@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*GT WALSHEIM PRO*/
@font-face {
    font-family: 'GTWalsheimPro-UltraLight';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-UltraLight.ttf') format('ttf');
}

@font-face {
    font-family: 'GTWalsheimPro-Thin';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'GTWalsheimPro-Light';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'GTWalsheimPro-Regular';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'GTWalsheimPro-Medium';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Medium.ttf') format('ttf');
}
@font-face {
    font-family: 'GTWalsheimPro-Bold';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'GTWalsheimPro-Black';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Black.ttf') format('ttf');
}
@font-face {
    font-family: 'GTWalsheimPro-UltraBold';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-UltraBold.ttf') format('ttf');
}

/*DIN*/
@font-face {
    font-family: 'DIN LightAlternate';
    src: url('../fonts/DIN/DIN LightAlternate.ttf') format('ttf');
}

@font-face {
    font-family: 'DIN-Regular';
    src: url('../fonts/DIN/DIN RegularAlternate.ttf') format('ttf');
}
@font-face {
    font-family: 'DIN-Medium';
    src: url('../fonts/DIN/DIN MediumAlternate.ttf') format('ttf');
}

@font-face {
    font-family: 'DIN-Bold';
    src: url('../../fonts/DIN/DIN BoldAlternate.ttf') format('ttf');
}
@font-face {
    font-family: 'DINBlack';
    src: url('../fonts/DIN/DINBlackAlternate.ttf') format('ttf');
}

.menuIcon, .mobileMenu {
   display: none
}


body{
    font-family: Work Sans;
    background-color: rgb(252,252,252);
}


::-webkit-scrollbar {
    display: none;
}




.menu{
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
}
.menu a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Work Sans;
    font-size: 15px;
    margin:0 auto;
    margin: 0 2vw;
    line-height: 50px;
    font-weight: 400;   
}


#picked{
    font-weight: 700;
}


.projectTitle{
    font-size: 60px;
    font-weight: 500;
    width: 850px;
    position: block;
   letter-spacing: -1px;
    margin-top: 120px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:-70px;
    padding-left:10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    color: #ff3b65;
}

.projectDescript{
    margin-left:10%;
    display: inline-block;
    width: 90%;
}

.fichaTecnica{
    font-size: 25px;
    line-height: 35px;
    font-weight: 100;
    clear: both;
    display: inline-block;
    width: 50%;
}

.keyWords{
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 100;
    display: block;   
}

.pDisplay {
    float: right;
    right: 7%;
    margin-top: -250px;
    width: 70%;
    position: relative;
    z-index: -1;
    margin-right: -60px;
    margin-bottom: 150px;
}

.chapter{
    color:black;
    font-size:50px;
    font-weight: 300;
    letter-spacing: -2px;
    color:rgb(80,80,80);
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    opacity:1;
}


#colorChapter{
margin-top:300px; 
    margin-bottom:20px;
}

#typeChapter{
margin-top:200px; 
    margin-bottom:20px;
}

#IDchapter{
margin-bottom: -100px;
    margin-top:200px;
}

#appChapter{

}







.firstContainer{
/*    background-color: red;*/
    width: 100%;
    left:0;
    height: 600px;
 
}

.imageBigContainer{
/*    background-color: blue;*/
    width: 800px;
    height: 100%;
    margin: 0 auto;
     
}

.platypusOutline{
    width: 100%;
border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(70, 70, 70, 0.1)
}

.logoMaking{
    width:100%;
/*    background-color: green;*/
    text-align: center;
}

.logoAll {
    width:23%;
    margin: 10px;
    margin-top:20px;;
    background: white;
    border-radius: 35px;
    box-shadow: 0px 0px 15px rgba(70, 70, 70, 0.1);
    float: left;       
}

#logoOne {
margin-left:0;
}


#logoFour{
margin-right:0;
}

.animationContainer{
    width: 30%;
    margin: 150px auto;
    background-color: rgb(252,252,252);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(100,100,100, 0.3)
}

.animation{
    width: 100%;
}


.safeSpaceContainer{
    height:  200px;
    text-align: center;
    
}


.grid1{
    margin: 50px;
    margin-left:0;
    margin-top:0;
    height:100%;
}

.grid2{
    margin: 50px;
    margin-left:50px;
     margin-top:0;
    height:100%;
}


.colorContainer{
    height: 350px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(100,100,100, 0.15)
}

#mainTonesContainer{
    width: 620px;
    height: 350px;
/*    background-color: red;*/
    transition: 600ms;
}

#mainTones{
     transition: 600ms;
}

#warmTones{
    transition: 600ms;
}

#colorTonesContainer,#coolTonesContainer{
    width: 820px;
    height: 350px;
    margin-top: 5em;
/*    background-color: red;*/
    transition: 600ms;
    background-size:100% 100%;
}

/*
#colorTonesContainer{
    background-image: url(../img/Platypus/warmGradient.jpg);
    
}
*/


.text{
    font-size: 60px;
    font-weight: 100;
    padding-top:70px;
    padding-bottom: 20px;
    display: block;
    
}

.swatches{
    width: 100%;
    height:40%;
/*    background-color: blue;*/
}

.swatch,.swatchD{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(240,240,240, 0.4);
    margin:5px;
    transition: 600ms;
    
}

.swatchC{
    width: 125px;
    height: 125px;
    display: inline-block;
     border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(240,240,240, 0.18);
        margin:10px;
    transition: 600ms;
}


.colorHex{
    font-size: 60px;
    font-weight: 100;
color:white;
position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    margin-top: -230px;
    opacity:0;
    transition: 150ms;
}

#white{
    background-image: url(../img/Platypus/logo1.png);
    background-size: 100%100%;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.18);
}

#pink{ background-image: url(../img/Platypus/logo3.png);background-size: 100%100%;}
#dark{ background-image: url(../img/Platypus/logo2.png);background-size: 100%100%;}
#warm1{ background-color: #FFC6D3;}
#warm2{ background-color: #FF86A0;}
#warm3{ background-color: #ff3b65;}
#warm4{ background-color: #FF3BC5;}
#warm5{ background-color: #FF733B;}
#warm6{ background-color: #571526;}
#cool1{ background-color: #9e20ee;}
#cool2{ background-color: #733bff;}
#cool3{ background-color: #4169df;}
#cool4{ background-color: #0c20dc;}
#cool5{ background-color: #191970;}
#cool6{ background-color: #0e2740;}


.logoVar{
    width: 600px;
    margin: 0 auto;
}

.logoVarImage{
    width: 150px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.2)
}


.intro{
    height: 950px;
    width: 850px;
    margin: auto;
    border-radius: 50px;
    margin-bottom:150px;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.2);
    z-index: -1;
}

#introDIN{
    height: 750px;
}

.GT{
    background-color: white;
    width: 250px;
    height:250px;
    margin: 50px;
    float: left;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(70,70,70, 0.2);
       text-align: center;
}

.gt{
    font-family: GTWalsheimPro-Regular;
    font-size: 140px;
    line-height: 250px;
    margin: 0 auto;
    color: #FF3B65;
}


.typeWrite{
position: absolute;
    margin-left:350px;
   margin-top: 152px;
}

.typing, .typingDIN{
    position: relative;
    font-family: GTWalsheimPro-Regular;
    font-size: 55px;
    z-index: -1;
}

#typeWriteDois{
    width: 400px;
}

.typing:after, .typingDIN:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 4px solid black;
    right: -15px;
    animation: blink 0.8s infinite ease;
}

.typingDIN:after{
    height: 50%;
}
@keyframes blink{
    0%{
        opacity:0;
    }
    10%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    90%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}

.fontsContainer{
    width: 850px;
/*    background-color: blue;*/
    position: absolute;
    margin-top: 350px;
    z-index: -1;
}

.fontBox{
    width: 25%;
    border-radius: 30px;
    margin-left:50px;
    float: left;
    margin-bottom: 50px;
    text-align: center;
}

.abc{
    display: block;
    -ms-word-break: break-all;
     word-break: break-all;
/*    letter-spacing: 01px;*/
    line-height: 25px;
    margin-top:10px;
    margin-bottom: 10px;
    color: rgb(100,100,100);
    text-align: justify;
}




#ultraLightFontTitle{
 font-family: GTWalsheimPro-UltraLight;
    font-size: 25px;
    display: inline-block;
}
#ultraLightABC{
     font-family: GTWalsheimPro-UltraLight;
     font-size: 20px;
    letter-spacing: 1px;
}




#ThinFontTitle{
 font-family: GTWalsheimPro-Thin;
    font-size: 25px;
    display: inline-block;
}


#ThinABC{
     font-family: GTWalsheimPro-Thin;
    font-size: 20px;
    letter-spacing: 1px;
}


#LightABC{
    font-family: GTWalsheimPro-Light;
     font-size: 20px;
    letter-spacing: 0.9px;
}

#LightFontTitle{
    font-family: GTWalsheimPro-Light;
    font-size: 25px;
    display: inline-block;
}

#regularABC{
    font-family: GTWalsheimPro-Regular;
     font-size: 20px;
    letter-spacing: 0.7px;
}


#regularFontTitle{
    font-family: GTWalsheimPro-Regular;
     font-size: 25px;
    display: inline-block;
}

#mediumABC{
    font-family: GTWalsheimPro-Medium;
     font-size: 20px;
    color: rgb(80,80,80);
    
}

#mediumFontTitle{
    font-family: GTWalsheimPro-Medium;
    font-size: 25px;
    display: inline-block;
}

#boldABC{
    font-family: GTWalsheimPro-Bold;
     font-size: 20px;
    color: rgb(100,100,100);
}

#boldFontTitle{
    font-family: GTWalsheimPro-Bold;
    font-size: 25px;
    display: inline-block;   
}

#blackABC{
    font-family: GTWalsheimPro-Black;
     font-size: 20px;
    color: rgb(150,150,150);
}

#blackFontTitle{
    font-family: GTWalsheimPro-Black;
    font-size: 25px;
    display: inline-block;  
}

#ultraBoldABC{
    font-family: GTWalsheimPro-UltraBold;
     font-size: 20px;
    color: rgb(160,160,160);
}

#ultraBoldFontTitle{
    font-family: GTWalsheimPro-UltraBold;
    font-size: 25px;
    display: inline-block;
}





#DINlight{
    font-family: DIN LightAlternate;
    font-size: 25px;
    display: inline-block;
}
#lightABCdin{
    font-family: DIN LightAlternate;;
     font-size: 20px;
    color: rgb(160,160,160);
}

#DINregular{
    font-family: DIN Regular;
    font-size: 25px;
    display: inline-block;
}
#regularABCdin{
    font-family: DIN-Regular;
     font-size: 20px;
    color: rgb(160,160,160);
}

#DINmedium{
    font-family: DIN-Medium;
    font-size: 25px;
    display: inline-block;
}
#mediumABCdin{
    font-family: DIN-Medium;
     font-size: 20px;
    color: rgb(160,160,160);
}

#DINbold{
    font-family: DIN-Bold;
    font-size: 25px;
    display: inline-block;
}
#boldABCdin{
    font-family: DIN-Bold;
     font-size: 20px;
    color: rgb(160,160,160);
}

#DINblack{
    font-family: DINBlack;
    font-size: 25px;
    display: inline-block;
}
#blackABCdin{
    font-family: DIN-Black;
     font-size: 20px;
    color: rgb(160,160,160);
}






.idCards{
/*    background-color: red;*/
    width: 80%;
    margin: 150px auto;
    height: 530px;
}


.idCardPic{
    width: 390px;
    border-radius: 50px;
    float:left;
     box-shadow: 0px 0px 20px rgba(70,70,70,0.5);
}
.scroll{
    width: 100%;
    height: 100%;
/*    margin: 150px auto;*/
    box-shadow: 0px 0px 20px rgba(70,70,70,0.5);
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
/*background-color:red;*/
    padding: 0px;
    z-index: -1;
}


.idCardsContainer{
    width: calc(95% - 390px);
    height: 380px;
    float:right;
        display: inline-block;

}


.grad{
    position: relative;
    bottom:455px;
    width: 10vw;
    height:395px;
    background: linear-gradient(90deg, rgba(40,40,40,0.2)  -10%,  rgba(255,255,255,0) 100%);
    pointer-events: none;
z-index: -1;
    margin-top:65px;
}
.gradU{
    position: relative;
    bottom:850px;
    float: right;
    width: 10vw;
z-index: -1;
    height:395px;
    background: linear-gradient(-90deg, rgba(40,40,40,0.2)  -10%,  rgba(255,255,255,0) 100%);
    pointer-events: none;
}

#IDcardMM1{
    margin-right: 60px;
}



ul.imagesScroll {
  margin: 0;
z-index: -1;
  white-space: nowrap;
 height: 100%;
  overflow-x: auto;
/*    background-color: aqua;*/
/*  background-color: red;*/
}


ul.imagesScroll li {
  display: inline;
  width: 150px;
  height: 150px;
    vertical-align: middle;
    margin: 10px;
}

.idCard{
 height: 80%;
margin-top:35px;

}





.row {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 50%;
    margin:20px;
    
}

.column img {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(70,70,70,0.5);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
.column {
    flex: 100%;
    max-width: 100%;
  }
}






.backArrow{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom:60px;
    left:40px;
    background: url(../../img/backArrow.svg)no-repeat;
}

.backArrow:hover{
    background-image: url(../../img/backArrowHover.svg);
}



.footer{
    width: 100%;
    height: 440px;
    background-color: black;
    position: absolute;
    margin-top: 200px;
    left:0;
    
}

.icons{
    position: absolute;
    margin-top:50px;
    margin-bottom:50px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.icon{
    width: 50px;
    margin: 0 10px;
}

.name{
    color:white;
    display: block;
    
    text-align: center;
    margin-top:140px;
    font-size: 20px;
    font-weight: 100;
}

.city{
    color:white;
    display: block;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}

.menu a:hover{
    animation: variable 200ms forwards;
}

@keyframes variable {
    0%{
      font-weight: 400;
    }
    100%{
    font-weight: 600;
    }
}








/* IPHONE X*/
@media only screen and (max-width: 800px) {
    
    .menuIcon {
    display: block;
    width: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
}
    
   .mobileMenu{
       opacity: 0;
       display: block;
        width: 100%;
        height:100%;
        position: fixed;
        background:white;
        top:0;
        left:0;
        z-index: 2;
        transform: translateY(-100%);
        transition: 1200ms;
    }
    
    .mobileMenuSlideAnimationIn{
        transform: translateY(0%);
    }
    
    .mobileMenuSlideAnimationOut{
        transform: translateY(-100%);
    }
    
    .mobileMenuSlide{
        text-align: center;
        padding-inline-start: 0px;
        margin-top: 80px;
    }
    
    .mobileMenuOption {
    display: block;
    left: 0;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    padding: 15px 0;
        font-weight: 300;
        text-transform: uppercase;
}
    li a{
        text-decoration: none;
        color:black;
}
    
    body{
        margin:0;
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }
    
    
    .menu{
  display: none;
}


.projectTitle{
    font-size: 24px;
    font-weight: 700;
    width: 77vw;
    margin-top: 20px;
    margin-left:-20px;
    padding-right: 0px;
}
    
    #titleMedia{
        font-size:21px;
            width: 300px;
    }

.projectDescript{
    margin-left:5%;
}

.fichaTecnica{
    font-size: 20px;
    line-height: 28px;
    width: 100%;
}
    


.keyWords{
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
    display: block;
    margin-top:20px;
    margin-bottom: 70px;
}
    
    .pDisplay{
    float: none; 
    left: -10%;
    width: 120%;
    top: 220px;
    position: relative;
}
    
    .imageBigContainer{
        width: 100%;
}
    
    .chapter{
    font-size: 30px;
    margin-top: 300px;
    margin-bottom: 20px;
    }
    
    #appChapter{
        margin-top: 450px;
    margin-bottom: -10px;
    }
    
    .platypusOutline {
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 10px;
    }
    
    
    .logoMaking{
        margin: auto;
        width:90%;
    }
    
    .logoAll {
    width: 45%;
    /* margin: 10px; */
    margin-top: 20px;
    /* padding: 5px; */
    margin-left: auto;
    background: white;
    border-radius: 35px;
    box-shadow: 0px 0px 15px rgb(70 70 70 / 10%);
     float: left; 
        margin:8px;
}
    
    #logoFour{
/*        margin-right:initial;*/
        margin:8px;
    }
    
    #logoOne{
/*        margin-left:initial;*/
        margin:8px;
    }
    
    
    .animationContainer {
    width: calc(90% - 100px);
    padding: 50px;
    border-radius: 50px;
        margin-top:50px;
}
    
    .grid1 {
    margin: initial;
}
    
    .grid2 {
    margin: initial;
    margin-top: 20px;
        height: initial;
    width: 90%;
}
    
    #mainTonesContainer {
    width: 90%;
    height: 220px;
}
    
    .text {
    font-size: 40px;
    padding-top: 30px;

}
    
    .swatchC, .swatch, .swatchD  {
    width: 85px;
    height: 85px;
    margin: 5px;
}
    
    #colorTonesContainer, #coolTonesContainer {
    width: 90%;
    height: 310px;
    border-radius: 30px;
    margin-top: 20px;
    }
    
    .intro{
    width: 90%;
    border-radius: 40px;
    height: 810px;
    }
    
    .GT{
    width: 240px;
    height: 240px;
    }
    
    .gt{
        font-size: 120px;
    }
    
    .typeWrite {
    margin-left: 0;
    margin-top: 320px;

}
    
    #typeWriteDois {
    width: 90%;
}
    
    .typing{
    font-size: 32px;
    margin-left:50px;
}
    .typingDIN{
    font-size: 22px;
    margin-left: 30px;
    }
    
    .fontsContainer{
        width: 90%;
        margin-top: 380px;
    }
    
    .fontBox {
    width: 100%;
    display: block;
    border-radius: 30px;
    margin: 20px auto;
    float: none;
    margin-bottom: 20px;
    text-align: center;
}
    .idCards{
        width: 90%;
    }
    
    .idCardPic {
    width: 100%;
    border-radius: 30px;
}
    .idCardsContainer {
    width:100%;
    height: 380px;
    float: none;
    display: block;
}
    
    .scroll{
        box-shadow: 0px 0px 10px rgb(70 70 70 / 20%);
        margin-top:40px;
    }
    
    .footer{
    height: 340px;
    top: 1110vh;
}

.icons{
    width: 70%;
    text-align: center;
}

.icon{
    width: 40px;

}

.name{
    margin-top:120px;
    font-size: 16px;
}

.city{
    font-size: 12px;
}    
}



/*    MID SCREEN - ENTRE TABLET E MAC*/

@media only screen and (min-width: 500px) and (max-width: 800px) {
    
    
    .pDisplay{
        top:150px;
    }
    .logoAll {
    width: calc(100%/4 - 20px);
    margin: 12px;
}
    
    .animationContainer {
    width: calc(50% - 100px);
    }
    
    #colorChapter {
    margin-top: 550px;
    }
    
    
    
.intro{
    height: 950px;
    width: 90%;
}

#introDIN{
    height: 750px;
}




.typeWrite{
position: absolute;
    margin-left:300px;
   margin-top: 152px;
}

.typing, .typingDIN{
    font-size: 35px;
}

#typeWriteDois {
    width: 300px;
    margin-left: 350px;
    margin-top: 130px;
}


.fontsContainer{
    width: 85%;
    margin-top: 330px;
}

.fontBox{
    width: 22%;
    border-radius: 30px;
    
    margin: auto;
    margin-left:10%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}


    

#ultraLightABC, #ThinABC, #LightABC, #regularABC, #mediumABC, #boldABC, #blackABC, #ultraBoldABC {
    font-size: 16px;
}
    
    #ultraLightABC, #ThinABC, #LightABC, #regularABC{
    letter-spacing: 0.6px;
}

.idCardPic {
    width: 40%;
    }

.scroll {
    width: 50%;
    height: 80%;
    margin-left:40px;
    }
    
    #appChapter {
    margin-top: 150px;
    }
    
}




/* IPHONE 8*/
@media only screen and (min-width: 400px) and (max-width: 450px) {
    .idCards {
    margin-bottom: 500px;
}
    
    .footer{
    top: 1280vh;
    }
  
}



/* IPAD PRO Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


.pDisplay {
    float: none;
    right: 7%;
    margin-top: 10px;
    width: 100%;
    position: relative;
    z-index: -1;
    margin-right: -60px;
    margin-bottom: 400px;
}
      
      .icons {
    text-align: center;
    width: 100%;
}
      
.icon{
    width: 100px;
    margin: 0 20px;
}
      
.name{
    margin-top: 210px;
    font-size: 30px;
}

.city {
    line-height: 40px;
    font-size: 20px;
}   

}



/*—————————————— iMAC —————————————-*/

@media only screen and (min-width: 2000px){
    
    

    .projectTitle{
        font-size: 100px;
        width: 1450px;
    }
    
    .menu{
        z-index: 1;
    }
    
    .menu a {
    font-size: 22px;
    margin: 0 3vw;
    line-height: 70px;
        
}
    
    .firstContainer{
        margin-top: 300px;
    transform: scale(1.5);
            margin-bottom: 400px;
    }
    .animationContainer{
        margin-bottom:250px;
    }
    
    .safeSpaceContainer {
    transform: scale(1.5);
        margin-top:100px;
    }
    
/*
    #mainTonesContainer {
    transform: scale(1.5);
        margin-top: 250px;
}
*/
    #colorChapter{
        margin-top: 460px;
    font-size: 60px;
    margin-bottom: 0;
        
    }
    .colorContainer{
        transform: scale(1.5);
       margin-top: 150px;
        
        z-index: -1;
    }
 
    
    #colorTonesContainer, #coolTonesContainer {
    margin-top: 15em;
    }
    
    #typeChapter {
    margin-top: 400px;
    margin-bottom: 70px;
    font-size: 60px;
}
    
    .idCards{
            width: 60%;
        margin-bottom: 350px;
    }
    
    .idCardPic {
    width: 500px;
    }
    
    .idCardsContainer {
    width: calc(95% - 500px);
        height: 500px;
    }
    
    #IDchapter, #appChapter{
        font-size: 60px;
    }
    .grad{
        height: 500px;
        margin-top: -45px;
    }
    
    .gradU{
        height: 500px;
        bottom: 955px;
    }
    
    
    
}
